/*
Stylesheet for text and controls in MyAbsences classes
*/
/* 
    Created on : Feb 4, 2021, 1:29:36 PM
    Author     : Christopher Burgess
*/
.bpane{
      -fx-background-color:lightslategray;
}

.ttgreen{
     -fx-background-radius: 7 7 7 7;
     -fx-background-color:linear-gradient(#9de69c, #32a632);
     -fx-text-fill: White;
 }
 .ttpurple{
     -fx-background-radius: 7 7 7 7;
     -fx-background-color:linear-gradient(violet, #c39ce6);
     -fx-text-fill: White;
 }
 .ttorange{
     -fx-background-radius: 7 7 7 7;
     -fx-background-color:linear-gradient(#f0c49e, orangered);
     -fx-text-fill: White;
 }
.ttblue{
     -fx-background-radius: 7 7 7 7;
     -fx-background-color:linear-gradient(deepskyblue, #9cbce6);
     -fx-text-fill: White;
 }
 .ttyellow {
     -fx-background-radius: 7 7 7 7;
     -fx-background-color:linear-gradient(#f0ec24, #d9d621);
     -fx-text-fill: Black;     
 }
 .ttred {
     -fx-background-radius: 7 7 7 7;
     -fx-background-color:linear-gradient(#f0a99e, red);
     -fx-text-fill: White;     
 }
  .ttgray {
     -fx-background-color:linear-gradient(white,lightgray);
     -fx-background-radius: 7 7 7 7;
     -fx-text-fill: Black;
 }
 .ttmain {
     -fx-background-radius: 7 7 7 7;
     -fx-background-color:linear-gradient(#f0a99e, red);
     -fx-text-fill: White;        
 }
 .btnday{
     -fx-background-radius: 1 1 1 1;  
 } 
 .btnweekend{
     -fx-background-radius: 1 1 1 1;
     -fx-text-fill: Grey;
 }
 .btntoday{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: Blue;
     -fx-border-color: Blue;
     -fx-border-insets: 0;
 }
 .btnplus {
     -fx-text-fill: Green;
     -fx-font-weight: bold;
     -fx-border-color: Green;
     -fx-border-width: 1.2;
 }
 .btnNav {
    -fx-border-color: transparent;
    -fx-background-radius: 7 7 7 7;
    -fx-text-fill: lightslategray;
    -fx-font-family: "Ariel"; 
    -fx-border-width: .8;
    -fx-font-weight: bold;
 }
 .bgsmoke{
     -fx-background-color: whitesmoke;
 }
 .calendar {
     -fx-background-color: whitesmoke;
     -fx-background-color: whitesmoke; 
     -fx-border-color: black;
 }
 .calmonth{
     -fx-background-color: white, -fx-control-inner-background; -fx-background-insets: 2, 2; -fx-padding: 10;
 }
 .daytitle{    
     -fx-font: 16px Tahoma;
     -fx-font-weight: bold;
     -fx-fill: lightslategray; 
 }
 .title{    
     -fx-font: 35px Tahoma;
     -fx-font-weight: bold;
     -fx-stroke: black;
     -fx-Stroke-width: .5; 
     -fx-fill: white; 
     -fx-effect: dropshadow(gaussian, darkgray, 10, 0.5, 0.0, 0.0);
 }
 .monthtitle {
     -fx-font-family: "Cambria";
     -fx-font-size: 20;
     -fx-text-fill: lightslategray;    
 }
 .formtop {
     -fx-background-color:white
 }
 .dayentry {
     -fx-background-color:linear-gradient(white,lightgray); 
 }
 .summaryreport {
     -fx-background-color:linear-gradient(white,lightgray);
     -fx-border-color: Black;    
 }
.summaryheader {
     -fx-underline: false;
     -fx-font-weight: bold;
     -fx-text-fill: Black;
 }
 .setuppane {
     -fx-background-color:linear-gradient(white,lightgray);
 } 
 .typegreen {
     -fx-text-fill: #32a632;
     -fx-font-weight: bold;
 }
  .typepurple {
     -fx-text-fill: #b665db;
     -fx-font-weight: bold;
 }
 .typered {
     -fx-text-fill: #e64135; 
     -fx-font-weight: bold;
 }
 .typeyellow {
     -fx-text-fill: #d4d000;
     -fx-font-weight: bold;
 }
 .typeorange {
     -fx-text-fill: orange;
     -fx-font-weight: bold;
 }
 .typeblue {
     -fx-text-fill: #588cd6;
     -fx-font-weight: bold;
 }
 .lblgreen {
     -fx-text-fill: #9de69c;
 }
 .lblpurple {
     -fx-text-fill: #c39ce6;
 }
 .lblred {
     -fx-text-fill: #f0a99e; 
 }
 .lblyellow {
     -fx-text-fill: #e2e69c;
 }
 .lblorange {
     -fx-text-fill: #f0c49e;
 }
 .lblblue {
     -fx-text-fill: #9cbce6;
 }
 .lbldata {
     -fx-text-fill: black;
 }
 .lblverify {
     -fx-text-fill:#d93838;
     -fx-font-weight: bold;
 }
 .txtwarning {
     -fx-font: 12px Tahoma;
     -fx-stroke: #d6cf06;
     -fx-Stroke-width: .5; 
     -fx-fill: white; 
 }
  .formgreen {
     -fx-background-color:#9de69c;
     -fx-background-radius: 1 1 1 1; 
 }
  .formpurple {
     -fx-background-color:#c39ce6;
     -fx-background-radius: 1 1 1 1; 
 }
 .formblue {
     -fx-background-color:#9cbce6;
     -fx-background-radius: 1 1 1 1;  
 }
 .formorange {
     -fx-background-color:#f0c49e;
     -fx-background-radius: 1 1 1 1; 
 }
 .formred {
     -fx-background-color:#f0a99e;
     -fx-background-radius: 1 1 1 1;   
 } 
 .formyellow {
     -fx-background-color:#e2e69c;
     -fx-background-radius: 1 1 1 1;    
 }
.underline {
     -fx-underline: true;
 }
.btnwarnred{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: Red;
     -fx-border-color: Yellow;
     -fx-border-insets: 0;
 }
 .btnwarnorange{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: Orange;
     -fx-border-color: Yellow;
     -fx-border-insets: 0;
 }
 .btnwarngreen{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: Green;
     -fx-border-color: Yellow;
     -fx-border-insets: 0;
 }
 .btnwarnblue{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: Blue;
     -fx-border-color: Yellow;
     -fx-border-insets: 0;
 }
 .btnwarnyellow{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: Yellow;
     -fx-border-color: Yellow;
     -fx-border-insets: 0;
 }
 .btnwarnpurple{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: Purple;
     -fx-border-color: Yellow;
     -fx-border-insets: 0;
 }
  .btndelete {
     -fx-background-color:linear-gradient(#f0a99e, #e3280b); 
     -fx-font-weight: bold;
     -fx-background-radius: 3 3 3 3; 
     -fx-background-insets: 2, 2; -fx-padding: 1;
 } 
.btnwarntop{
     -fx-border-width: 1.0;
     -fx-font-weight: bold;
     -fx-text-fill: #e04d48;
     -fx-border-color: #e04d48;
     -fx-border-insets: 0;
 }
 .textfieldfail {
      -fx-border-color: red;    
 }
